POSTGRES_DB=household
POSTGRES_USER=household
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

LIDL_LANGUAGE=pl
LIDL_COUNTRY=PL
# LIDL_REFRESH_TOKEN=
# LIDL_REFRESH_TOKEN_FILE=~/.config/lidl-plus/refresh_token
